.py-5
  .container-fluid
    .row
      -@products.each do |product|
        .col-md-2.col-sm-12.my-3
          .card
            - if !product.myimages.first.nil?
              =image_tag product.myimages.first.img, class:"card-img-top"
            .card-body
              %h1.text-center.card-title= product.p_name
              .row
                .col-12.col-md-12.my-2
                  =link_to product, class:"btn btn-primary btn-block" do 
                    %i.fa.fa-fw.fa-eye.fa-lg
                .col-12.col-md-6
                  %button{ :id => "product_fav_#{product.id}", class:"btn btn-block btn-success ", :onclick => "actions.addFav(this)"} 
                    %i.fa.fa-fw.fa-gratipay.fa-lg
                .col-12.col-md-6
                  %button{:id => "product_car_#{product.id}", class:"btn btn-info btn-block", :onclick => "actions.addCar(this)"}
                    %i.fa.fa-fw.fa-shopping-cart.fa-lg
    .flickr_pagination
      = will_paginate @products