.col-sm-4.col-md-3.inline-block
	=button_to "/pay",method: :post,class:"payment-btn paypal-btn no-margin" do
		Pagar con Paypal
.col-sm-4.col-md-3.inline-block
	=content_tag :button,class:"payment-btn card-btn no-margin" do
		Pagar con tarjeta