<div class="container-fluid"> 
	<div class="row">			
		<%= render @articulos %> 
	</div>		
	<div class="flickr_pagination" style="margin-top: 20px; margin-bottom: 20px;">
    	<%= will_paginate @articulos %>		
	</div>
</div>