- if can? :update, img
  =link_to "Edit", edit_product_myimage_path(@product,img),class:"btn btn-success btn-block"
- if can? :delete, img
  = link_to 'Destroy', [@product,img], method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-block"
%h1=img.title
%p=truncate(img.description, length:600)
