<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron space-a">
        <fieldset>
          <h1 class="text-center space-title form-title"><%="#{@article.title}"%></h1>
          <%= render 'form', comment: @comment %>
        </fieldset>
      </div>  
    </div>
  </div>
</div>