/*
*= require font-awesome
*= require_self
*/
@import "bootstrap";
@import "font-awesome";
body{
	
}

.carousel-caption{
    padding:20px;
    width:710px;
    position:relative;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}


.caption-text{
	opacity: 1 !important;
	color: #000;
}	