.container.my-5
  .row
    .col-12
      .card
        .card-body
          %h1.text-center= @category.name
          - if can? :update, @category
            .row
              .offset-md-3.col-md-3
                = link_to 'Edit', edit_category_path(@category),class:"btn btn-primary btn-block"
              .col-md-3
                = link_to 'Back', categories_path,class:"btn btn-secondary btn-block"
          %p= @category.description
          =image_tag @category.c_img, class: "img-fluid"